{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div>
    <form method="POST" action="{{ url_for('search_location')}}" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search by location" aria-label="Search" name="location">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    <form method="POST" action="{{ url_for('search_price')}}" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search by price" aria-label="Search" name="price">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    <br>
    <br>
</div>
<div class="container">

    <div class="row">

        <div class="col-lg-12">
        </div>
        {% if posts %}
            {% for key, value in posts.items() %}
    
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card">
                        <a href="{{ url_for('view.post', from_delete=from_delete, from_update=from_update, post_id=value.id)}}">
                            <img class="card-img-top img-fluid" src=" {{url_for('static', filename=('img/' + value.image))}}" alt="{{ value.description }}">
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{value.description}} for {{value.price}}.
                                <br>Found in {{value.location}}
                            </p>
                        </div>
                    </div>
                </div>           
                                
            {% endfor %}
        {% else %}
        <h3>No post available 
            Click here to add </h3>
        <br>
        <a class="btn btn-outline-primary" id="post" href="/post">Add a Post</a>
        {% endif%}
    </div>
</div>

{% endblock %}
